.kw-body {
    font-size: 13px;
    color: #FFF;
}

.kw-form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}

.kw-dx-icon-Plus {
  background-color: rgb(69, 85, 106);
  border-radius: 20px;
  width: 34px;
  height: 34px;
}

.kw-action-color {
  background-color: #647f9a;
  border-color: #647f9a;
}

.kw-dx-button-Summit {
  background-color: #45556a;
}
.kw-dx-button-Cancel {
  background-color: #7c9bc1;
}

.kw-dx-button-Save {
  background-color: #7c9bc1;
}

.kw-dx-button-other {
  background-color: #7c9bc1;
}
.kw-dx-button-Back {
  background-color: #ffcc66;
}

.kw-p-zero {
  padding: 0px;
}
.kw-p-zero-right {
  padding-right: 0px;
}
.kw-p-zero-left {
  padding-left: 0px;
}

.kw-dx-set-middle {
  padding: 2px 5px 0px 5px;
}

.kw-dx-textbox-Import {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: bold;
  top: 1px;
  position: relative;
}

.kw-text-HD {
  font-size: 18px;
  line-height: 36px;
  padding: 18px;
  color: #fff;
}

.kw-dx-set-Textbox-Hd {
  background-color: #7c9bc1;
  margin: 15px 0px 0px 15px;
  padding: 0px;
  height: 36px;
  border-radius: 4px;
  color: #fff;
  line-height: 35px;
  font-size: 13px;
  padding-left: 50px;
}